@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* -------------Nav Bar-------------- */
.logo {
  max-width: 50px;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #010101;
}

.member-container {
  display: flex;
  justify-content: space-around;
}

.member-container li {
  list-style: none;
}

.member-container a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}

.member-container a:last-child {
  border-left: 1px solid white;
}

/* -------------Main Section-------------- */
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-section {
  min-height: 100vh;
  background-color:#010101;
}

.main-container {
  padding: 30px 0;
}

.main-img {
  width: 60%;
}

.main-img img {
  width: 100%;
  border-radius: 10px;
}

.main-desp {
  width: 30%;
  position: relative;
}

.main-desp h1 {
  color: white;
  font-size: 2rem;
  line-height: 1.5;
  position: relative;
  margin-top: -30%;
}

.instructment-icon{
  position:absolute;
  display: flex;
  bottom: -15vh;
}

.icon{
  position:absolute;
  animation: musicIcon 5s linear infinite alternate;
  top: 0;
  left: 180px;
}

.instructment-icon li{
  list-style: none;
  font-size: 25px;
  margin: 0 10px;
  transition: all .5s;
  cursor: pointer;
}

.instructment-icon li:hover{
  font-size: 35px;
  margin: 0;
}

@keyframes musicIcon{
  0%{
    top: 0;
    left: 180px;
  }
  25%{
    top:-10%;
    left: 220px;
  }

  50%{
    top: 0;
    left: 250px;
  }

  75%{
    top: 0;
    left: 180px;
  }
}

/* -------------Plan Section-------------- */
.plan-section{
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 8vh;
}

.text-center{
  text-align: center;
}

.plan-section h2{
  font-size: 2.2rem;
  margin-bottom: 8px;
}

.plan-container{
  margin: 8vh 0;
  display:flex;
  justify-content: center;
}

.plan-card{
  margin: 0 25px;
  width: 25%;
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  padding: 20px 10px;
  box-shadow: -1px 1px 5px 0px rgba(90,89,89,1);
  -webkit-box-shadow: -1px 1px 5px 0px rgba(90,89,89,1);
  display: flex;
  -moz-box-shadow: -1px 1px 5px 0px rgba(90,89,89,1);
  flex-direction: column;
  justify-content: space-between;
}

.package-title{
  text-transform: capitalize;
  margin-right: 15px; 
  font-size: 1.8rem;
}

hr{
  width: 60%;
  margin: 5px auto;
  background-color: #CCCCCC;
  border-bottom: none;
}

.plan-feature{
  margin: 10px 0 ;
  font-size: 1.2rem;
  list-style:none;
  width: 90%;
}

.plan-feature-tick{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tick{
  margin: 0 5px;
  font-size: 1.5rem;
  width: 10%;
}

.price{
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 20px 0;
}

.get-started{
  width: 80%;
  margin: 0 auto;
  border: 1px solid #1DB954;
  background-color: #1DB954;
  transition: all .3s;
  text-align: center;
  border-radius: 25px;
  display: block;
  padding: 15px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.get-started:hover{
  background-color: #16cc68;
  cursor: pointer;
}

/*-------------Register-------------*/
.register-panel{
  background-color: #eeeef1;
  min-height: 80.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-guide{
  display: flex;
  position: absolute;
  top: -35px;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.register-guide p{
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}


.form-container{
  width: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  padding: 25px;
  border-radius:15px;
  border: 1px solid white;
}

.form-container button{
  margin: 25px auto 15px;
  background-color: #00A400;
  width: 35%;
  border: 1px solid #00A400;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  transition: all .3s;
}

.form-container button:hover{
  background-color: #14c914;
}

.form-input{
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 1.2rem;
  margin: 20px auto 5px;
  border: 1px solid #767676;
  border-radius: 5px;
}

.error-input{
  border: 2px solid red;
}

.error-message{
  display:none;
  margin-bottom: none;
  background-color: red;
  color: white;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
}

.error-message.active{
  display:block !important;
}

/* -----------User--------------*/
.user-page{
  padding:0 5vw;
  background-color: rgb(255, 241, 241);
  margin: 15px 0 ;
  border-radius: 25px;
  width: 50%;
}

.user-page h1{
  margin: 15px 0 10px 0;
  font-size: 2.3rem;
  letter-spacing: 1.5px;
}

.user-page h2{
  margin-bottom: 30px;
}

.user-page p{
  font-size: 1.5rem;
  margin: 15px 0 ;
}

.user-container{
  display:flex;
  justify-content: center;
  min-height: 90vh;
  background-color: #17233C;
}
  

.edit-profile{
  position: relative;
  margin: 35px 0 ;
}

.edit-profile input{
  width: 100%;
  font-size: 1.5rem;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid grey;
}

.edit-profile::before{
  position: absolute;
  top: -21px;
  left: 0;
}

.edit-profile.name::before{
  content: 'Name';
}

.edit-profile.password::before{
  content: 'Password';
}

.edit-profile.cpassword::before{
  content: 'Confirm Password';
}

.profile-interface .edit{
  display: block;
  text-align: right;
}

.user-action-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-action.button{
  margin-left: 20px;
}

.edit-action.cancel{
  font-size: 1rem;
  color: rgba(46, 44, 44, 0.781);
  cursor: pointer;
  transition: all .3s;
}

.edit-action.cancel:hover{
  font-size: 1.1rem;
  color:black;
}


.edit-action.save{
  background-color: #1DB954;
  width: 30%;
  border: 1px solid #1DB954;
  color: white;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
}

.edit-action.save:hover{
  width: 32%;
  font-size: 1.1rem;
}

.profile-interface.edit.button{
  border: 1px solid #757575;
  padding: 8px 35px;
  font-size: 1rem;
  background-color: rgb(255, 241, 241);
  border-radius: 25px;
  color: rgba(27, 27, 27, 0.89);
  cursor: pointer;
  transition: all .2s;
}

.profile-interface.edit.button:hover{
  padding: 9px 36px;
  font-size: 1.1rem;
  border-color: black;
  color: black;
}

.subscription-header{
  margin: 15vh 0 5vh;
}

.subscription-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
}

.subscription-container .plan{
  background: rgb(219,0,196);
  background: linear-gradient(90deg, rgba(219,0,196,1) 3%, rgba(170,9,173,1) 17%, rgba(125,0,119,1) 33%, rgba(115,4,99,1) 60%, rgba(121,3,159,1) 91%, rgba(116,0,166,1) 100%);
  height: 15vh;
  width: 70%;
  display: flex;
  align-items: center;
}

.subscription-container .plan div{
  margin-left: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.subscription-container .upgrade{
  height: 15vh;
  width: 30%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: rgb(3, 168, 233);
}

.subscription-container .upgrade a{
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  font-weight: bold;
}


/* --------- Plan -----------*/
.individual-plan-container{
  background-color: #509BF5;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-plan-container .wrap{
  width: 40%;
  background-color: white;
  padding: 20px 12px;
  border: 1px solid transparent;
  border-radius: 15px;
  position: relative;
}

.individual-plan-container h2{
  text-transform: capitalize;
  margin-bottom: 15px;
}


.individual-plan-action{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  top: -25px;
}

.individual-plan-action div, .individual-plan-action div a{
  text-decoration: none;
  color: white;
}

.more-deal-container{
  padding: 40px 0;
  min-height: 70vh;
}

.more-deal-container .wrap{
  width:40%;
  margin: 0 auto;
}

.more-deal-desp{
  margin: 25px 0 ;
}

.more-deal-desp h2{
  margin-bottom: 10px;
}

.upgrade-plan-wrap{
  box-shadow: -1px 1px 5px 5px rgba(164,160,160,0.75);
  -webkit-box-shadow: -1px 1px 5px 5px rgba(164,160,160,0.75);
  -moz-box-shadow: -1px 1px 5px 5px rgba(164,160,160,0.75);
  margin: 25px 0;
  padding: 25px;
  border-radius: 10px;
  cursor:pointer;
  transition: all .3s
}

.upgrade-plan-wrap h3{
  margin-bottom: 10px;
}

.upgrade-plan-wrap:active{
    box-shadow: 0px 0px 2px 2px rgba(164,160,160,0.75);
  -webkit-box-shadow: 0px 0px 2px 2px rgba(164,160,160,0.75);
  -moz-box-shadow: 0px 0px 2px 2px rgba(164,160,160,0.75);
}

.paypal-button-container{
  text-align:right;
  margin-top:15px;
}
/* -----------Footer--------------*/
footer{
  background-color: #F1F1F1;
  padding: 15px 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon{
  display: flex;
  margin-top: 10px;
}

.social-icon li{
  list-style: none;
  margin-right: 15px;
}

.social-icon img{
  width: 35px;
}

