@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* -------------Nav Bar-------------- */
.logo {
  max-width: 50px;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #010101;
}

.member-container {
  display: flex;
  justify-content: space-around;
}

.member-container li {
  list-style: none;
}

.member-container a {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}

.member-container a:last-child {
  border-left: 1px solid white;
}

/* -------------Main Section-------------- */
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-section {
  min-height: 100vh;
  background-color:#010101;
}

.main-container {
  padding: 30px 0;
}

.main-img {
  width: 60%;
}

.main-img img {
  width: 100%;
  border-radius: 10px;
}

.main-desp {
  width: 30%;
  position: relative;
}

.main-desp h1 {
  color: white;
  font-size: 2rem;
  line-height: 1.5;
  position: relative;
  margin-top: -30%;
}

.instructment-icon{
  position:absolute;
  display: flex;
  bottom: -15vh;
}

.icon{
  position:absolute;
  animation: musicIcon 5s linear infinite alternate;
  top: 0;
  left: 180px;
}

.instructment-icon li{
  list-style: none;
  font-size: 25px;
  margin: 0 10px;
  transition: all .5s;
  cursor: pointer;
}

.instructment-icon li:hover{
  font-size: 35px;
  margin: 0;
}

@keyframes musicIcon{
  0%{
    top: 0;
    left: 180px;
  }
  25%{
    top:-10%;
    left: 220px;
  }

  50%{
    top: 0;
    left: 250px;
  }

  75%{
    top: 0;
    left: 180px;
  }
}

/* -------------Plan Section-------------- */
.plan-section{
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 8vh;
}

.text-center{
  text-align: center;
}

.plan-section h2{
  font-size: 2.2rem;
  margin-bottom: 8px;
}

.plan-container{
  margin: 8vh 0;
  display:flex;
  justify-content: center;
}

.plan-card{
  margin: 0 25px;
  width: 25%;
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  padding: 20px 10px;
  box-shadow: -1px 1px 5px 0px rgba(90,89,89,1);
  -webkit-box-shadow: -1px 1px 5px 0px rgba(90,89,89,1);
  display: flex;
  -moz-box-shadow: -1px 1px 5px 0px rgba(90,89,89,1);
  flex-direction: column;
  justify-content: space-between;
}

.package-title{
  text-transform: capitalize;
  margin-right: 15px; 
  font-size: 1.8rem;
}

hr{
  width: 60%;
  margin: 5px auto;
  background-color: #CCCCCC;
  border-bottom: none;
}

.plan-feature{
  margin: 10px 0 ;
  font-size: 1.2rem;
  list-style:none;
  width: 90%;
}

.plan-feature-tick{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tick{
  margin: 0 5px;
  font-size: 1.5rem;
  width: 10%;
}

.price{
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 20px 0;
}

.get-started{
  width: 80%;
  margin: 0 auto;
  border: 1px solid #1DB954;
  background-color: #1DB954;
  transition: all .3s;
  text-align: center;
  border-radius: 25px;
  display: block;
  padding: 15px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.get-started:hover{
  background-color: #16cc68;
  cursor: pointer;
}

/*-------------Register-------------*/
.register-panel{
  background-color: #eeeef1;
  min-height: 80.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-guide{
  display: flex;
  position: absolute;
  top: -35px;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.register-guide p{
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}


.form-container{
  width: 50%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  padding: 25px;
  border-radius:15px;
  border: 1px solid white;
}

.form-container button{
  margin: 25px auto 15px;
  background-color: #00A400;
  width: 35%;
  border: 1px solid #00A400;
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  transition: all .3s;
}

.form-container button:hover{
  background-color: #14c914;
}

.form-input{
  display: block;
  width: 70%;
  padding: 10px;
  font-size: 1.2rem;
  margin: 20px auto 5px;
  border: 1px solid #767676;
  border-radius: 5px;
}

.error-input{
  border: 2px solid red;
}

.error-message{
  display:none;
  margin-bottom: none;
  background-color: red;
  color: white;
  width: 70%;
  margin: 0 auto;
  padding: 5px;
}

.error-message.active{
  display:block !important;
}

/* -----------Footer--------------*/
footer{
  background-color: #F1F1F1;
  padding: 15px 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon{
  display: flex;
  margin-top: 10px;
}

.social-icon li{
  list-style: none;
  margin-right: 15px;
}

.social-icon img{
  width: 35px;
}